annotated-types
anyio
audioop-lts
azure-ai-documentintelligence
azure-core
azure-identity
beautifulsoup4
cachetools
certifi
cffi
charset-normalizer
click
cobble
coloredlogs
cryptography
defusedxml
distro
et-xmlfile
flatbuffers
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
humanfriendly
idna
isodate
jiter
lxml
magika
mammoth
markdownify
markitdown
mpmath
msal
msal-extensions
numpy
olefile
onnxruntime
openai
openpyxl
packaging
pandas
pdfminer-six
pillow
proto-plus
protobuf
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic-core
pydub
pyjwt
pymupdf
pyparsing
python-dateutil
python-dotenv
python-pptx
pytz
requests
rsa
six
sniffio
soupsieve
speechrecognition
standard-aifc
standard-chunk
sympy
toml
tomli
tqdm
typing-extensions
typing-inspection
tzdata
uritemplate
urllib3
websockets
xlrd
xlsxwriter
youtube-transcript-api